<a href="https://colab.research.google.com/github/mkvinay77/azurelib_DE/blob/main/Day3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
#To print all the even number between 1 to 100

i = 2
while i <= 100:
  print("The even numbers are",i)
  i = i+2

The even numbers are 2
The even numbers are 4
The even numbers are 6
The even numbers are 8
The even numbers are 10
The even numbers are 12
The even numbers are 14
The even numbers are 16
The even numbers are 18
The even numbers are 20
The even numbers are 22
The even numbers are 24
The even numbers are 26
The even numbers are 28
The even numbers are 30
The even numbers are 32
The even numbers are 34
The even numbers are 36
The even numbers are 38
The even numbers are 40
The even numbers are 42
The even numbers are 44
The even numbers are 46
The even numbers are 48
The even numbers are 50
The even numbers are 52
The even numbers are 54
The even numbers are 56
The even numbers are 58
The even numbers are 60
The even numbers are 62
The even numbers are 64
The even numbers are 66
The even numbers are 68
The even numbers are 70
The even numbers are 72
The even numbers are 74
The even numbers are 76
The even numbers are 78
The even numbers are 80
The even numbers are 82
The even numbers are 84
The even numbers are 86
The even numbers are 88
The even numbers are 90
The even numbers are 92
The even numbers are 94
The even numbers are 96
The even numbers are 98
The even numbers are 100

In [10]:
#Imagine that u are making the cricinfo website.
#the task assigned is find the total runs for a team:
#You have to ask the user to input the run scored by easch player and then based on that you will find the total score of team
# Assumption team have 5 players



i = 0
sum =0
while i < 5:
  a1 = (int(input("Enter the player score = ")))
  sum = sum + a1
  i = i + 1
print(sum)

Enter the player score = 10
Enter the player score = 20
Enter the player score = 30
Enter the player score = 40
Enter the player score = 50
150

In [11]:
#without loop
a1 = int(input("Enter the score"))
a2 = int(input("Enter the score"))
a3 = int(input("Enter the score"))
a4 = int(input("Enter the score"))
a5 = int(input("Enter the score"))
sum = a1+a2+a3+a4+a5
print(sum)

Enter the score10
Enter the score20
Enter the score30
Enter the score40
Enter the score50
150

In [ ]:
#Imagine that you are bulding the Zepto app.
#User can add the products to the cart.
#your task is to ask the product price which is added to the cart and find the total order value.
#Assume max cart item size is 3

In [12]:
#Imagine that you are bulding the Zepto app.
#User can add the products to the cart.
#your task is to ask the product price which is added to the cart and find the total order value.
#Assume max cart item size is 3
#While calculating the total, remeber Zepto is offering the new year discount
#when the total oder value is above 500 you get shipping charges is 0 rs otherwise shipping charges is 100 rupes


i = 0
sum =0
while i < 3:
  a1 = (int(input("Enter the iteam price = ")))
  sum = sum + a1
  i = i + 1
print("The total amount is",sum)

discount = 0
if sum > 500:
  discount = sum - 100
else:
  discount = sum + 100

total_sum = discount

print(total_sum)

Enter the iteam price = 100
Enter the iteam price = 200
Enter the iteam price = 300
600
500

In [15]:
#Imagine that you are bulding the Zepto app. User can add the products to the cart.
#your task is to ask the product price which is added to the cart and find the total order value.
#After adding eaching product ask the user, if he want to add more say YES
#and if not then say NO and as soon as he says NO you will stop
#and print the total order the value.
i = 0
sum = 0
while i < 1:
  a1 = int(input("Enter the product price="))
  sum = sum+a1
  Choice = input("Do you want to contine say Yes/No ::")
  if Choice == 'No':
    i=1 #(we can enter the any value or we can use the break)
print(sum)

Enter the product price=100
Do you want to contine say Yes/No ::Yes
Enter the product price=400
Do you want to contine say Yes/No ::No
500

In [16]:
i = 0
sum = 0
while i < 1:
  a1 = int(input("Enter the product price="))
  sum = sum+a1
  Choice = input("Do you want to contine say Yes/No ::")
  if Choice == 'No':
    break #(it takes out of the loop)
print(sum)

Enter the product price=100
Do you want to contine say Yes/No ::No
100

In [21]:
#Imagine that you are bulding the Zerodha App. Imagine that you are bulding the login for this app.
#You will ask the user for user password
#Now if passowrd is correct just say login.
#If password is incocrrect say password is incorrect try again.
# Only 4 attempts are allowed. User id is bloked, call the customer care.
#Imagine for now the password = 'admin'
#


i = 0
while i < 4:
  password = input("Enter the password::")
  if password == 'admin':
    print("You loggin successful")
    break
  else:
    print("Incorrect try again")
  i = i + 1

if i == 4:
  print("user id is blocked")

Enter the password::a
Incorrect try again
Enter the password::a
Incorrect try again
Enter the password::a
Incorrect try again
Enter the password::a
Incorrect try again
user id is blocked

In [22]:
#For loops

for i in range(3):
  print("Hello")
  print(i)

Hello
0
Hello
1
Hello
2

In [23]:
for i in range(1,10,1):
  print(i)

1
2
3
4
5
6
7
8
9