<a href="https://colab.research.google.com/github/mkvinay77/azurelib_DE/blob/main/Day4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x = []
y = [1,2,3,4,5]

print(type(x))
print(type(y))
print(len(y))

<class 'list'>
<class 'list'>
5

In [ ]:
y = [10,20,30,40,50]
y.append (60)

In [ ]:
y = [10,20,30,40,50]
y.insert(0,5)
print(y)

[5, 10, 20, 30, 40, 50]

In [ ]:
y.pop()
print(y)

[5, 10, 20, 30, 40]

In [ ]:
y = [10,20,30,40,50]
y.pop(0)
print(y)

[20, 30, 40, 50]

In [ ]:
y = [10,20,30,40,50]
y.remove(10)
print(y)

[20, 30, 40, 50]

In [ ]:
y = [10,20,30,40,50]
print(y[0])
print(y[1])
print(y[2])
print(y[3])
print(y[4])

10
20
30
40
50

In [1]:
y = [10,20,30,40,50]

i = 0
while i < len(y):
  print(y[i])
  i =i+1

10
20
30
40
50

In [ ]:
for i in y:
  print(i)

10
20
30
40
50

In [2]:
#Imagine that you are working as developer at Zomato.
#Ask the user to enter the item to add to the cart
# Take 5 items from the user.
#at the end dispaly all those five items

items = []
for i in range(5):
  item = input("Enter the item in the cart = ")
  items.append(item)

for i in items:
  print(i)

Enter the item in the cart = milk
Enter the item in the cart = bread
Enter the item in the cart = eggs
Enter the item in the cart = garlic
Enter the item in the cart = ginger
milk
bread
eggs
garlic
ginger

In [3]:
#Assume that you are working as developer at cricinfo website.
#There is a match going and you have to take the runs scored by
# each player in the team.
# At the end display the entire score card where you display run of each player
#along with team total runs.
#Assume we have 5 player in a team
players = []
sum = 0
i = 0
while i < 5:
  p1= int(input("Enter the runs scored ="))
  players.append(p1)
  sum = sum + p1
  i = i+1

for i in players:
  print(i)
print(sum)

Enter the runs scored =10
Enter the runs scored =20
Enter the runs scored =30
Enter the runs scored =40
Enter the runs scored =50
10
20
30
40
50
150

In [ ]:
players = []
sum = 0

for i in range(5):
  p1 = int(input("Enter the player score  = "))
  sum = sum + p1
  players.append(p1)

for p1 in items:
  print(p1)

print(sum)

In [10]:
#Imagine that you are working as developer at cricinfo website.
#There is a match going and you have to take the runs scored by
# each player in the team.
# At the end display the entire score card where you display run of each player
# along with team total runs.


#Assume we have 5 player in a team
# When you display the score card, also tell me how many players get out on 0.

players = []
sum = 0
i = 0
totalZeroScored = 0
while i < 5:
  p1= int(input("Enter the runs scored ="))
  players.append(p1)
  sum = sum + p1
  i = i+1

  if p1 == 0:
    totalZeroScored = totalZeroScored+1


for i in players:
  print(i)
print(sum)
print("total players who scored zero",totalZeroScored)


###logic
# In one line (simple English)
# totalZeroScored = totalZeroScored+1
# “Every time a player scores 0 runs, increase the zero-score count by 1.”

Enter the runs scored =0
Enter the runs scored =0
Enter the runs scored =100
Enter the runs scored =200
Enter the runs scored =300
0
0
100
200
300
600
total players who scored zero 2

In [11]:
#Imagine that you are working as developer at cricinfo website.
#There is a match going and you have to take the runs scored by
# each player in the team.
# At the end display the entire score card where you display run of each player
# along with team total runs.



#Assume we have 5 player in a team
#Don't display all the players run, only Display all the player runs who has scored the century

players = []
totalZeroScored = []
sum = 0
i = 0
century = 0

while i < 5:
  p1 = int(input("Enter the player score  = "))
  sum = sum + p1
  players.append(p1)
  i = i+1

if p1 == 0:
  totalZeroScored = totalZeroScored + 1

for i in players:
  if i >= 100:
    print("The player who got century",i)

Enter the player score  = 99
Enter the player score  = 98
Enter the player score  = 110
Enter the player score  = 120
Enter the player score  = 100
The player who got century 110
The player who got century 120
The player who got century 100

In [1]:
##Imagine that you are working as developer at cricinfo website.
#There is a match going and you have to take the runs scored by
# each player in the team.
# At the end display the entire score card where you display run of each player and names
# along with team names and runs.

team = {"Rohith": 100,"Virat": 250, "Raina":40}
team =["Yuraj"] = 150
print(team["Rohith"])

100

In [4]:
#to add the values
team = {"Rohith": 100,"Virat": 250, "Raina":40}
team ["Yuraj"] = 150
print(team["Yuraj"])
print(team)

150
{'Rohith': 100, 'Virat': 250, 'Raina': 40, 'Yuraj': 150}

In [5]:
#to update the values
team = {"Rohith": 100,"Virat": 250, "Raina":40}
team ["Yuraj"] = 300
print(team["Yuraj"])
print(team)

300
{'Rohith': 100, 'Virat': 250, 'Raina': 40, 'Yuraj': 300}

In [ ]:
#You are building an health care application for apollo hospitals
# You have to display the total amount:
# Patient has gone through doctor consultation, test, medicine.
#Take the input for price of all of these and display the total bill amount.

In [ ]:
#For new customer add the one time registration add cost 100 rupees.

In [ ]:
#At the end display the full bill where denoting each item and its cost